<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mybatis.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.mybatis.entity.Employee">
        <id column="id" property="id" />
        <result column="last_name" property="lastName" />
        <result column="email" property="email" />
        <result column="salary" property="salary" />
        <result column="dept_id" property="deptId" />
    </resultMap>

    <sql id="Base_Column_List" >
      email, salary
    </sql>


    <insert id="addEmployee" parameterType="com.test.mybatis.entity.Employee" useGeneratedKeys="true" keyProperty="id">
      insert into employees(last_name,email,salary,dept_id)
		values(#{lastName},#{email},#{salary},#{deptId})
    </insert>

    <update id="updateEmployee">
        update employees set last_name = #{lastName},email=#{email},salary=#{salary},dept_id=#{deptId}
		where id = #{id}

    </update>
    <delete id="deleteEmployee">
        delete from employees where id = #{a}
    </delete>

    <select id="getEmployeeById" resultMap="BaseResultMap">
		select
		 <include refid="Base_Column_List"/>
		 from employees where id = #{id}
	</select>


    <select id="getEmployees" resultMap="BaseResultMap">
        select * from employees
    </select>

</mapper>
