<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mybatis.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.mybatis.entity.Employee">
        <id column="id" property="id" />
        <result column="last_name" property="lastName" />
        <result column="email" property="email" />
        <result column="salary" property="salary" />
        <result column="dept_id" property="deptId" />
    </resultMap>

    <select id="getEmployeeById" resultType="com.test.mybatis.entity.Employee">
		select * from employees where id = #{id}
	</select>

</mapper>
